<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Acadêmica</title>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <a href="/admin/livros">Cadastrar Livros</a>
        <a href="/admin/autores">Cadastrar Autores</a>
        <a href="/admin/usuarios">Cadastrar Usuários</a>
        <a href="/admin/emprestimos">Emprestar Livro</a>
    </header>

    <hr>

    <h2>Livros Cadastrados</h2>
    <ul id="lista-livros">
        <li>Carregando livros...</li>
    </ul>

</body>
</html>